# Visual Studio
.vs/
*.user
*.suo

# Build folders
**/bin/
**/obj/

# .NET build outputs
*.dll
*.exe
*.pdb

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

# Visual Studio publish & project user files
*.csproj.user
*.pubxml.user
Properties/PublishProfiles/
