<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TMDB_BEARER_TOKEN" value="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5NWFiYTI4MGFjZWZmNWZiZWM0YjY1OWNiODliODUzMCIsIm5iZiI6MTc2NzA2NzcwMy4zOTYsInN1YiI6IjY5NTM1MDM3ZGVmNzM3YzA5YWU0MWI5YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.BJL9cBXItNrYq_kjlVhZgLDX9Brf6ue0CcE6SV6GKXU" />
	</appSettings>
</configuration>